<h3>{{data}}</h3>
<form name="companyUpdate" class="form-horizontal" novalidate>

	<div class="form-group">
		<label for="inputCompanyName" class="control-label col-md-2">Company Name</label><div class="col-md-4"> <input type="text"
			class="form-control" id="{{company.companyId}}" value={{company.companyName}} ng-disabled="true"></div>
	</div>
	
	<!-- <div class="form-group">
	<label for="siteId" class="control-label col-md-2">Available Sites<span ng-show="isLoadingCompanies"><img src="images/loading.gif"></img></span></label> 
	<div class="col-md-4">
	<select id="Site" name="Site" class="form-control" ng-model ="sites">                                
            <option ng:repeat="site in sites" value="{{site.id}}">     
                {{site.siteName}}
            </option>
    </select>
    </div>
    </div> -->
    
    <div class="form-group" ng-show="!addSiteReq">
		<div class="col-md-4">
          <label>Add Site: <input type="checkbox" ng-model="addSiteReq" ng-disabled="addDeptReq"></label><br/>
        </div>
	</div>
	
	<div class="form-group" ng-show="addSiteReq">
		<label for="inputSiteName" class="control-label col-md-2">Site Name</label><div class="col-md-4"> <input type="text"
			class="form-control" id="inputSiteName" placeholder="Site Name"
			ng-model="site.siteName"></div>
	</div>
	
	<div class="form-group" ng-show="!addSiteReq">
		<label for="siteId" class="control-label col-md-2">Available Sites<span ng-show="isLoadingCompanies"><img src="images/loading.gif"></img></span></label> 
		<div class="col-md-4"><select name="siteId" class="form-control" ng-model="site.id" id="siteId" ng-change="siteChange(company.id,site.id)">
			<option ng-repeat="site in sites" value="{{site.id}}">{{site.siteName}}</option>
		</select></div>
	</div>
	
	<div class="form-group" ng-show="!addSiteReq">
		<div class="col-md-4">
          <label>Add Department <input type="checkbox" ng-model="addDeptReq" ng-disabled="addSiteReq"></label><br/>
        </div>
	</div>
	
	<div class="form-group" ng-show="addDeptReq">
		<label for="inputDeptName" class="control-label col-md-2">Department Name:</label><div class="col-md-4"> <input type="text"
			class="form-control" id="inputDeptName" placeholder="Department Name"
			ng-model="dept.deptName"></div>
	</div>
	
	<div class="form-group" ng-show="!addSiteReq">
	<div class="form-group" ng-show="!addDeptReq">
		<label for="deptId" class="control-label col-md-2">Available Departments<span ng-show="isLoadingDepts"><img src="images/loading.gif"></img></span></label> 
		<div class="col-md-4"><select name="deptId" class="form-control" ng-model="dept.id" id="deptId">
			<option ng-repeat="dept in departments" value="{{dept.id}}">{{dept.deptName}}</option>
		</select></div>
	</div>
	</div>
	
	<button type="submit" class="btn btn-primary" ng-show="addSiteReq || addDeptReq" ng-click="companyUpdate.$valid && updateCompany(company.id, site, dept, addSiteReq)">Update</button>
	<button type="button" class="btn" ng-show="addSiteReq || addDeptReq" ng-click="cancelUpdate()">Cancel</button>
</form>
