<!DOCTYPE>
<html ng-app="mysocial">
<head>
<link rel="stylesheet" href="styles/bootstrap.css" />
<link rel="stylesheet" href="styles/chatstyle.css" />
<link rel="stylesheet" href="styles/font-awesome.css" />
<style type="text/css">
.ng-invalid.ng-dirty {
	border-color: red;
}
.ng-valid.ng-dirty {
	border-color: green;
}
</style>
<!-- MULTIPLE JS INCLUDES WILL BE REPLACED WITH SINGLE REQUIREJS INCLUDE. USE MINIFIED FILES FOR PRODUCTION USE -->
<script type="text/javascript" src="scripts/jquery-2.1.3.js"></script>
<script type="text/javascript" src="scripts/bootstrap.js"></script>
<script type="text/javascript" src="scripts/angular.js"></script>
<script type="text/javascript" src="scripts/angular-route.js"></script>
<script type="text/javascript" src="scripts/angular-cookies.js"></script>
<script type="text/javascript" src="scripts/ng-websocket.js"></script>
<script type="text/javascript" src="scripts/textAngular-sanitize.min.js"></script>
<script type="text/javascript" src="scripts/textAngular.min.js"></script>
		
<script type="text/javascript" src="scripts/app.js"></script>

</head>
<body>
<!-- NAVIGATION MENU BAR -->
<div class="container-fluid navbar navbar-default" ng-controller="NavbarController">
	<a href="#/" class="navbar-brand" >MySocial</a>
	<button class="hidden-sm navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<!-- 
	<div ng-show="{{currentPath!='/login'}}">
	<ul class="nav navbar-nav navbar-right collapse navbar-collapse">
		<li><a href="#newPost">Post New</a></li>
		<li><a href="" data-toggle="dropdown">Admin <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#login">Login</a></li>
				<li><a href="#register">Register</a></li>
				<li><a href="#logout">Logout</a></li>
			</ul>
		</li>
	</ul>
	</div>
	-->
	<div ng-show="!loggedIn">
	<ul class="nav navbar-nav navbar-right collapse navbar-collapse">
		<li><a href="" data-toggle="dropdown">Admin <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#login">Login</a></li>
				<li><a href="#register">Register</a></li>
			</ul>
		</li>
	</ul>
	</div>
	
	<div ng-show="loggedIn">
	<ul class="nav navbar-nav navbar-right collapse navbar-collapse">
		<li><a href="#newPost">Post New</a></li>
		<li><a href="" data-toggle="dropdown"> {{loggedInUser}}<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#updateCompany" ng-show="isCompany">Update Company</a></li>
				<li><a href="#logout">Logout</a></li>
			</ul>
		</li>
	</ul>
	</div>
</div>
<div class="container">
	<!-- PLACE HOLDER FOR THIS SINGLE PAGE APP COMPONENTS -->
	<div ng-view></div>
</div>
</body>
</html>
